.list-time, .cals-day {
    color: #e1764f;
}

.list-intranet-line h6 {
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    padding: 5px 0;
    color: #505d66;
    font-family: Andes, "Open Sans", sans-serif;
}