<div *ngIf="(showBreadcrumb$ | async)">
  <ol class="breadcrumb">
    <li *ngFor="let item of breadcrumbItem;let last = last;" class="breadcrumb-item">
      <ng-container *ngIf="(last && disableLastChildClick) || item.disableLink">
        <span [ngClass]="{ 'disableLastChildClick':last && disableLastChildClick} ">{{item.label}}</span>
      </ng-container>
      <ng-container *ngIf="(!last || !disableLastChildClick) && !item.disableLink">
        <a href='javascript:void(0)' (click)="emitPath(item, last)" tabindex="" [ngClass]="{ 'disableLastChildClick':last && disableLastChildClick} ">{{item.label}}</a>
      </ng-container>
    </li>
  </ol>
</div>
