<div>
  <a href="javascript:;" class="search-btn d-block" (click)="focusSearchbox()">
    <span class="d-none d-lg-inline">SEARCH</span>
    <i class="ml-2 align-middle fas fa-search" aria-hidden="true"></i>
  </a>
  <div class="header-search" [ngClass]="{'in' : searchToggle}">
    <div class="d-flex flex-nowrap h-100 align-items-center">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input #txtSearch type="text" class="search-box" placeholder="Search">
      <a href="javascript:;" class="search-btn" (click)="searchToggle=false">
        <i class="align-middle fas fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <div class="search-suggestion">

    </div>
  </div>
</div>

<div class="overlay-bg search-overlay" [ngClass]="{'active':searchToggle}" (click)="searchToggle=false"></div>